name = "mcservers-api"
main = "src/index.js"

account_id = ""
workers_dev = true
route = "mcservers-api.james090500.com/*"

compatibility_date = "2022-06-06"
kv_namespaces = [
  { binding = "SERVERS", id = "", preview_id = "" }
]