name = "mcservers-api"
main = "src/index.js"
compatibility_date = "2022-06-07"

account_id = ""
workers_dev = true
route = "mcservers-api.james090500.com/*"

kv_namespaces = [
  { binding = "SERVERS", id = "", preview_id = "" }
]

[triggers]
crons = ["*/10 * * * *"]